.character {
    margin-bottom: 50px;
    &__wrapper {
        display: flex;
        align-items: flex-start;
    }
    &__img {
        flex: 0 1 300px;
        margin-right: 50px;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    &__info {
        flex: 1 1 auto;
        max-width: 550px;
    }
    &__name {
        margin-bottom: 25px;
    }
    &__descr {
        font-size: 18px;
    }
}