.skeleton {
    width: 100%;
    box-shadow: 0 5px 20px $c-shadow;
    padding: 25px;
    margin-bottom: 30px;
    &__title {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 30px;
    }
    &__item {
        min-height: 35px;
        background: $c-skeleton;
        margin-bottom: 15px;
        &:first-child {
            display: flex;
            align-items: center;
            background: none;
        }
        &:last-child {
            margin: 0;
        }
    }
    &__round {
        flex: 0 0 40px;
        height: 40px;
        width: 40px;
        margin-right: 10px;
        border-radius: 100%;
        background: $c-skeleton;
    }
    &__thin {
        flex: 1 1 auto;
        height: 16px;
        background: $c-skeleton;
    }

}